/* Homepage */

.qAnda p, .qAndA a {
  font-size: 18px !important;
}

.qAnda span {
  font-weight: bolder;
  font-style: italic;
}

div.project, .project h4, .project p, .project a, .container h3 {
  text-align: center;
}

.project h4 {
  font-weight: 900;
}

.project a, .qAndA a {
  text-decoration: underline;
}

.project img {
  width: 260px;
  margin-top: 2rem;
}

.apperson img {
  height: 328px;
}

.inquiryLabel {
  margin-top: 14px;
  padding-top: 0;
}

div.inquiryValidation {
  text-align: right;
  margin-top: 10px;
  max-width: 85%;
}

span.inquiryValidation {
  font-size: 16px;
  margin-right: 38%;
  font-family: Habibi;
  font-style: italic;
}
