@media screen and (min-width: 900px) {
  .drawer-container {
    float: right;
    position: fixed;
    right: 0;
    z-index: 100;
  }

  .main-panel {
    position: relative;
    float: left;
    clear: both;
    height: 100vh;
    width: calc(100% - 220px);
    display: block;
    overflow: hidden;
  }

  .material-header {
    width: 100%;
  }

  .content-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    margin-top: 91px;
    margin-right: inherit;
    display: flex;
    flex-direction: column;
  }

  .page-content {
    flex: 1 0 auto;
    border-right: 1px solid #000000;
  }

  ::-webkit-scrollbar:vertical {
    width: 0;
  }

  .newsIFrame {
    width:350px;
    height: 610px;
    border: 1px solid #d3d3d3;
  }
}

@media (min-width: 300px) and (max-width: 325px) {
  div.familySlideContainer {
    margin: 0 !important;
  }
}

@media (min-width: 345px) and (max-width: 365px) {
  div.familySlideContainer {
    margin: 0 -20px;
  }
}

@media (min-width: 367px) and (max-width: 399px) {
  .newsIFrame {
    width: 110% !important;
  }
  div.familySlideContainer {
    margin: 0 -27px;
  }
}

@media (min-width: 400px) and (max-width: 419px) {
  .flex-header {
    margin-top: -20px;
    width: 100% !important;
  }

  img#elcaLogo {
    width: 290px !important;
  }

  .subTitle {
    width: 80% !important;
  }

  #copyInput {
    width: 95%;
    margin-left: 8px;
  }

  #playSection audio {
    background-position: center;
  }

  .familySlideContainer {
    margin: 0 -27px;
  }
}

@media (max-width: 420px) {
  .familySlideContainer {
    margin: 0 -47px;
  }
}

@media screen and (max-width: 500px) {
  .header-text {
    font-size: 24px !important;
  }
}

@media screen and (max-width: 900px) {
  * {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .drawer {
    background-color: rgb(192, 192, 192);
    float: right;
    height: 100%;
  }

  .elevation2 {
    height: 100%;
    max-height: 100%;
  }

  .page-content {
    flex: 1 0 auto;
  }

  .menu-item {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Trebuchet MS', 'ChivoBlack', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    min-height: 40px;
    padding-top: 0;
    padding-right: 16px;
    box-sizing: border-box;
  }

  .nav-list {
    position: fixed;
    top: 0 !important;
    right: 0;
    margin: auto;
    padding-top: 1px;
  }

  span {
    text-align: left;
  }

  .main-panel {
    position: relative;
    float: left;
    clear: both;
    height: 100vh;
    width: 100vw;
    display: block;
  }

  .material-header {
    width: 100vw;
  }

  .drawer-container.close {
    display: none;
  }

  .drawer-container.open {
    display: block !important;
    width: 100vw !important;
    z-index: 100 !important;
    background-color: rgba(42, 34, 42, 0.67);
  }

  .content-block {
    width: 100vw !important;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .navImage {
    display: none;
  }

  .swipe-area {
    width: 30px;
    height: 100vh;
  }

  #playerAndButtons button {
    border: 1px solid #cccccc;
  }

  ::-webkit-scrollbar:vertical {
    width: 0;
  }

  .giving-iframe {
    width: 320px;
    height: 700px;
    border: 1px solid #d3d3d3;
  }

  .container-fluid {
    overflow-y: auto;
    padding-bottom: 15px;
  }
}

.drawer-container {
  height: 100vh;
  position: fixed;
  float: right;
  z-index: 100;
  width: 220px;
}

.nav-list {
  position: fixed;
  top: 91px;
  right: 0;
  height: 100%;
  z-index: 90000;
  background-color: rgb(192, 192, 192);
}

.navImage {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #244a8bff;
    margin: auto;
    padding-top: 3px;
    text-align: center;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 12px;
}

::-webkit-scrollbar:vertical {
  width: 12px;
}

::-webkit-scrollbar:horizontal {
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

.swipe-area {
  position: absolute;
  width: 0px;
  left: 128px;
  top: 0;
  height: 100%;
  /* background: #f3f3f3; */
  z-index: 9999;
  /* touch-action: auto; */
}
