/* Slideshow container */
#youthSlideshow, #youthSlideshow1, #familySlideshow, #familySlideshow1, #slideshowMusic, #slideshow1, #slideshow, #musicSlide2, #lSlide1, #lSlide2 {
  max-width: 600px;
  position: relative;
  margin: auto;
}

.music-slideshow {
  width: 100% !important;
  height: 0 !important;
  padding-bottom: 38%;
}

.home-slideshow {
  width: 100% !important;
  height: 0 !important;
  padding-bottom: 50%;
  margin-top: -15px;
}

.slideshowimage {
  width: 100%;
  height: 0;
}

.spaceUnderSlideShow {
  margin-top: auto;
}

.sidebar-image {
  width: 180px;
  border: 0;
}

#musicSlide1 {
  max-width: 998px !important;
  margin: auto !important;
}

#familySlideshowWide, #youthSlideshowWide {
  max-width: 600px;
  margin: auto;
}

#slideshow1 img, #musicSlide1 img {
  width: 100%;
}

#familySlideshow img, #familySlideshow1 img, #youthSlideshow img, #youthSlideshow1 img, #slideshowMusic img, #slideshow img, #musicSlide2 img, #lSlide1 img, #lSlide2 img {
  /* width: 100%; */
  margin: auto;
  max-height: 5in;
  cursor: pointer;
  /* max-height: 5in; */
}

#familySlideshowWide img, #familySlideshow1 img, #youthSlideshowWide img, #youthSlideshowWide1 img {
  margin: auto;
  max-height: 5in;
  padding-top: 1px
}

.slide-show {
  height: 400px;
  width: 100%;
  object-fit: contain;
  background-color: rgb(192, 192, 192);
}
