/* I'm not honestly sure if this is still being used, but I don't want to delete it, just in case. Feel free to remove this otherwise. */

div.checkboxes-div {
  outline: none;
  position: relative;
  margin-top: 0;
  z-index: 103;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

input.checkboxes-input {
  min-width: 0;
  padding: 5px;
}

label.checkboxes-label {
  font-size: 10pt;
  font-weight: normal;
  text-align: left;
  padding: 5px;
}

div.RegistrationForm {
  margin: auto;
}

/* Pretty sure this was in relation to the band info from JaMmusic. */

p.bioText {
  max-width: 98%;
  margin: auto;
  text-align: left;
  padding-top: 7px;
}

aside.instrumentList {
  text-align: left;
  margin: auto;
  width: 3in;
}

td.wjBand {
  text-align: center;
  background-color: #e6ffe6;
}

td p a {
  font-size: inherit
}

/* These are Aurelia animate page transitions */
.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

.aut-asc::after {
  content: "\f160";
}

.aut-sort::after {
  font-family: FontAwesome;
  padding-left: 0.5em;
  width: 1.28571429em;
  display: inline-block;
  text-align: center;
  content: "\f0dc";
}

.aut-desc::after {
  content: "\f161";
}

.answer {
  margin-bottom: 1em;
  font-style: italic;
  margin-left: 10px;
}

.button-lib {
  height: 0.35in;
  text-transform: none;
  margin: 20px 6cm 0;
  background-color: #c0c0c0;
  border-width: thin;
  border-style: outset;
  border-color: #8c8c8c;
}

.button-checkout {
  height: 0.35in;
  width: 0.95in;
  text-transform: none;
  background-color: black;
  border-width: thin;
  border-style: outset;
  border-color: #737373;
  color: white;
}

.button-checkin {
  height: 0.35in;
  width: 0.95in;
  text-transform: none;
  background-color: #88bde6;
  border-width: thin;
  border-style: outset;
  border-color: #2d8bd2;
  color: black;
}

/* OHAF. Some of this is still used as default classNames in JaMmusic. Not sure if that's a case here too. */

.ohaf-sidebar {
  background-color: #c09580;
}

.ohaf-header {
  background-color: #565656;
  height: 91px;
}

.ohaf-header-image {
  width: 85px;
  left: 2px;
  margin-top: -13px;
}

.ohaf-menu-toggle {
  color: white;
}

.ohaf-social-media:hover {
  color: white;
}

.question {
  margin-bottom: 0;
  margin-left: 10px;
}

.onePx {
  padding-top: 1px !important;
  padding-right: 1px !important;
}

.newUserForm {
  margin-left: 0.5cm;
  width: 180px;
}
